!!!
%html{ :lang => params[:locale] }
  %head{ :prefix => "og: http://ogp.me/ns# fb: http://ogp.me/ns/fb#" }
    %meta{ :charset => "UTF-8" }
    %title OpenCode Québec
    %link{ :type => "text/css", :rel => "stylesheet", :media => :screen, :href => stylesheet_path("uluwatu") }
    %link{ :type => "text/css", :rel => "stylesheet", :media => :screen, :href => "http://fonts.googleapis.com/css?family=Lato:light,regular,regularitalic,lightitalic,bold&v1" }
    %link{ :type => "image/png", :rel => "shortcut icon", :href => image_path("favicon.png") }
    %meta{ :name => "viewport", :content => "width=device-width" }
    %meta{ :name => "og:title", :content => "OpenCode" }
    %meta{ :name => "og:image", :content => image_path("bigicon.png") }
    %meta{ :name => "og:url", :content => "http://opencode.ca" }
    %meta{ :name => "og:description", :content => "Un OpenCode est un évènement sans prétention, amical et informel qui s’adresse aux développeurs et programmeurs." }
    - if ENV["RACK_ENV"] == "production"
      :javascript
        var _gaq = _gaq || [];
        _gaq.push(['_setAccount', 'UA-24416048-1']);
        _gaq.push(['_trackPageview']);
        (function() { var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true; ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js'; var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s); })();
  %body
    #wrap
      %header
        %h1
          %a{ :href => "/" }
            %img{ :src => image_path("img-logo-2.png"), :alt => "OpenCode" }
      - if @future_edition
        %section#next{ :class => @future_edition.talks.empty? ? "no-talks-yet" : "" }
          %p
            %span La <a href="##{@future_edition.slug}">prochaine édition</a> de l’OpenCode aura lieu le <strong>#{l @future_edition.held_at, "%-d %B %Y"}</strong> à #{l @future_edition.held_at, "%H:%M"} à l’<a href="http://abri.co">Abri.Co</a>.
          - if @future_edition.talks.any?
            .talks
              %p
                %a{ :href => "##{@future_edition.slug}" } Des présentations par :
              %ul
                - @future_edition.talks.each do |talk|
                  %li
                    %a{ :href => "##{@future_edition.slug}" }
                      %img{ :src => talk.author_picture_url, :width => "36", :height => "36" }
                      %span
                        %em= talk.author_name
                        %strong= talk.title
                - if @future_edition.incomplete
                  %li.missing-talks
                    %a{ :href => "##{@future_edition.slug}" } …
          .register
            %a{ :href => "http://opencodeqc-#{@future_edition.id}.eventbrite.com/" } S’inscrire sur <span>EventBrite</span>

      %section#infos
        %section#concept
          %h2 Le concept
          %p Un OpenCode est un évènement gratuit, sans prétention, amical et informel qui s’adresse aux développeurs et programmeurs. <strong class="important">Si votre métier ne consiste pas à écrire du code, vous n’y trouverez probablement pas votre compte.</strong>
          %p.small La soirée se déroule en deux parties : <em>Présentations</em> et <em>discussions</em>. Courtes présentations de 15-20 minutes sur des sujets reliés à la programmation (<em>ie.</em> montrez-nous du code!). Ensuite, les gens se rassemblent pour discuter et échanger lignes de code, concepts et idées jusqu’à tard le soir…
          %p.small Parfois, au cours de la soirée, un défi est également lancé — un algorithme à produire, un easter egg à découvrir, un casse-tête à déchiffrer, etc. Tout pour favoriser une saine compétition dans la communauté!

        %section#misc-infos
          %h2 L’endroit
          %p L’évènement se tient le <strong>dernier mardi de chaque mois</strong>, à l’<a href="https://abri.co/">Abri.Co</a>, au <a href="http://g.co/maps/unsb">335 Rue Saint-Joseph Est #500</a>, à Québec. Wi-fi et électricité fournie. Vous pouvez amener des éléments nécessaires à votre confort (nourriture, breuvages, etc.).

          %h2#talk-proposal Proposer une présentation
          %p.small Si vous êtes motivés et que vous désirez partager avec la communauté votre expérience avec une technologie, un langage de programmation, une librairie, un logiciel ou autres, vous pouvez vous proposer comme présentateur pour une prochaine édition en communiquant par courriel (voir la section <em>Informations</em>). <strong>Pas besoin d’être un expert, simplement d’être passionné!</strong>

          %h2 Informations
          %p.small Pour plus d’informations, vous pouvez écrire à <code>equipe@opencode.ca</code>. Vous pouvez également nous suivre sur Twitter au <a href="https://twitter.com/opencodeqc">@opencodeqc</a>.

      %section#past
        %h2 Éditions
        - @editions.reverse.each_slice(3) do |editions|
          %ul
            - editions.each do |edition|
              %li
                %h3{ :id => edition.slug }
                  #{edition.title_fr} <span>(#{l edition.held_at, "%-d %B %Y"})</span>
                %ul
                  - if edition.talks.any?
                    - edition.talks.each do |talk|
                      %li
                        - if talk.author_url
                          %a{ :href => talk.author_url }
                            %img{ :src => talk.author_picture_url, :width => "36", :height => "36" }
                        - else
                          %img{ :src => talk.author_picture_url, :width => "36", :height => "36" }
                        %span.talk-infos
                          %strong
                            - if talk.author_url
                              %a{ :href => talk.author_url }= talk.author_name
                            - else
                              = talk.author_name
                            - if talk.slides_url
                              %a.url{ :href => talk.slides_url, :title => "Présentation" } slides
                            - if talk.code_url
                              %a.url{ :href => talk.code_url, :title => "Code" } code
                          #{talk.title}
                    - if edition.incomplete
                      %li.notice
                        Nous recherchons encore des passionnés pour présenter un sujet qui les intéresse lors de cette édition.
                        %a{ :href => '#talk-proposal' } Contactez-nous!
                  - else
                    %p.notice
                      La liste des présentations n’est pas encore disponible pour cette édition. Mais faites-nous confiance, ça va être bon!
      %footer
        %p OpenCode est un évènement organisé dans les temps libres de <a href="https://twitter.com/JimmyBourassa">Jimmy Bourassa</a>, <a href="https://twitter.com/frederickdubois">Frédérick Dubois</a>, <a href="https://twitter.com/garno">Samuel Garneau</a> et <a href="https://twitter.com/remi">Rémi Prévost</a>, dans le but de permettre à la communauté de développeurs de Québec de s’épanouir.
        %p We <a href="https://github.com/opencodeqc/opencode.ca">♥</a> code.
